body, label {
    background-color: #000000;
    color: #cccccc;
}

#options h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#options th {
    text-align: right;
}

#options input {
    text-align: left;
    background-color: #000000;
    color: #cccccc;
}

#interval {
    width: 8ex;
}
