.body, .label {
    background-color: #000000;
    color: #cccccc;
}

#options .caption {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#options .cell-label {
    text-align: right;
    font-weight: normal;
}

#options .editor {
    text-align: left;
    background-color: #000000;
    color: #cccccc;
    width: 8ex;
}

